<html>
  <head>
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
    <link href="/index.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div class="page-container-centered">
      <div class="center-container">
        <h1 class="title">Gallery</h1>
        <p class="description">one frame per person</p>
        <p class="description-small">so baaaad i know</p>
          <button
            onclick="window.location.href='/uploadimage'"
            type="submit"
            class="button bg-blue"
          >
            Get Started!
          </button>
      </div>
    </div>
  </body>
</html>
